<div class="container">
    <h3>Employees</h3>
    <table class="table table-striped">
        <thead>
            <th>Edit</th>
            <th>Delete</th>
            <th>Name</th>
            <th>Last Name</th>
        </thead>

        <tbody>
            <tr ng-repeat="employee in employees">
                <td></td>
                <td>
                    <button class="btn" ng-click="deleteEmployee(employee.id)">
                        <span class="glyphicon glyphicon-remove">&nbsp;Delete</span>
                    </button>
                </td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>
