<div class="container">
    <h3>Departments</h3>

    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        </thead>

        <tbody>
        <tr ng-repeat="department in departments">
            <td>{{department.name}}</td>
            <td>{{department.description}}</td>

            <td>
                <a class="btn" ng-click="editDepartment(department.id)">
                    <span class="glyphicon glyphicon-pencil">&nbsp;Edit</span>
                </a>
            </td>

            <td>
                <a class="btn" ng-click="deleteDepartment(department.id)">
                    <span class="glyphicon glyphicon-remove">&nbsp;Delete</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <button class="btn" ng-click="newDepartment()">
            <span class="glyphicon glyphicon-plus">&nbsp;Create New Department</span>
        </button>
    </div>
</div>